<?xml version="1.0" ?>
<!--Plugin Name: Credius-->
<!--Plugin URI: https://www.credius.ro/-->
<!--Description: Magento 2.x personal loans integration via Credius.-->
<!--Version: 1.0.0-->
<!--Author: Alexandru Neamtu-->
<!--Author URI: http://github.com/alexneamtu-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<crediusmethod>
				<active>0</active>
				<model>Credius\PaymentGateway\Model\Payment\Crediusmethod</model>
				<order_status>pending</order_status>
				<title>Credius</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</crediusmethod>
		</payment>
	</default>
</config>
