<?xml version="1.0" ?>
<!--Plugin Name: Credius-->
<!--Plugin URI: https://www.credius.ro/-->
<!--Description: Magento 2.x personal loans integration via Credius.-->
<!--Version: 1.0.0-->
<!--Author: Alexandru Neamtu-->
<!--Author URI: http://github.com/alexneamtu-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<crediusmethod>
                <active>1</active>
                <title>Credius</title>
                <order_status>pending</order_status>
                <model>CrediusPaymentGatewayFacade</model>
				<group>offline</group>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>1</is_offline>
            </crediusmethod>
		</payment>
	</default>
</config>
