<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span><a href="https://www.credius.ro/" target="_blank" rel="noopener"> (Learn More)</a>
            <!-- CrediusMethod Logo -->
			<span class="brandImages">
				<img data-bind="attr: {src: getPaymentImage()[0], alt: $t('credius')}"
					class="payment-icon"/>
			</span>
		</label>
    </div>
    <div class="payment-method-content credius">
        <div class="payment-method-redirect-message">
            <p>After clicking "Place order", you will be redirected to Credius to complete your purchase.</p>
        </div>
        <div class="field required">
            <label data-bind="attr: {for: getCode() + '_applicant_types'}" class="label">
                <span><!-- ko i18n: 'Applicant Type'--><!-- /ko --></span>
            </label>

            <div class="control">
                <select name="payment[applicant_types]"
                        class="select"
                        data-bind="
                                  options: getApplicantTypes(),
                                  optionsValue: 'value',
                                  optionsText: 'applicant_type',
                                  value: applicantTypes">
                </select>
            </div>
        </div>
        <div class="field required">
            <label data-bind="attr: {for: getCode() + '_loan_types'}" class="label">
                <span><!-- ko i18n: 'Loan Type'--><!-- /ko --></span>
            </label>

            <div class="control">
                <select name="payment[loan_types]"
                        class="select"
                        data-bind="
                                  options: getLoanTypes(),
                                  optionsValue: 'value',
                                  optionsText: 'loan_type',
                                  value: loanTypes">
                </select>
            </div>
        </div>
        <div class="field required">
            <label data-bind="attr: {for: getCode() + '_request_types'}" class="label">
                <span><!-- ko i18n: 'Request Type'--><!-- /ko --></span>
            </label>

            <div class="control">
                <select name="payment[request_types]"
                        class="select"
                        data-bind="
                                  options: getRequestTypes(),
                                  optionsValue: 'value',
                                  optionsText: 'request_type',
                                  value: requestTypes">
                </select>
            </div>
        </div>
<!--        <div class="field required">-->
<!--            <label data-bind="attr: {for: getCode() + '_request_source_types'}" class="label">-->
<!--                <span>&lt;!&ndash; ko i18n: 'Request Source Type'&ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;</span>-->
<!--            </label>-->

<!--            <div class="control">-->
<!--                <select name="payment[request_source_types]"-->
<!--                        class="select"-->
<!--                        data-bind="-->
<!--                                  options: getRequestSourceTypes(),-->
<!--                                  optionsValue: 'value',-->
<!--                                  optionsText: 'request_source_type',-->
<!--                                  value: requestSourceTypes">-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
        <div class="checkout-agreements-block">
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
